LLM_API_URL=http://104.224.158.247:8007/v1
LLM_MODEL=glm-4-9b-chat-tool-enabled
RAG_HOST=0.0.0.0
RAG_PORT=8000
RAG_API_BASE_URL=http://localhost:8000
# QDRANT_PATH=./qdrant_storage
QDRANT_HOST=localhost
QDRANT_PORT=6333
COLLECTION_NAME=law_knowledge
DATA_ROOT_DIR=/Volumes/The One/lawyer
JUDGMENT_TEMPLATE_PATH=判决书案件事实部分模板.txt
CIVIL_CODE_PDF_PATH=中华人民共和国民法典.pdf
HF_ENDPOINT=https://hf-mirror.com
